<style>
    .icon {
        display: inline-block;
        position: relative;
    }

    .icon-shopping-cart {
        font-size: 24px; /* Đảm bảo kích thước phù hợp */
    }

    .cart-count {
        position: absolute;
        top: -10px; /* Điều chỉnh vị trí tùy theo thiết kế của bạn */
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 12px;
    }

</style>


<header class="header header-intro-clearance header-4" xmlns:th="http://www.thymeleaf.org" th:fragment="header(productSearch, imageSearch, priceSearch)"
        xmlns:sec="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                    <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                        <span class="navbar-text text-dark">
                         <div sec:authorize="hasAuthority('ADMIN')">
                                Xin chào, <a href="/admin"><span sec:authentication="name"></span></a>
                         </div>
                        </span>
                    </li>
                    <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                        <span class="navbar-text text-dark">
                         <div sec:authorize="hasAuthority('USER')">
                                Xin chào, <a href="#"><span sec:authentication="name"></span></a>
                         </div>
                        </span>
                    </li>
                    <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                        <span class="navbar-text text-dark">
                         <div sec:authorize="hasAuthority('EMPLOYEE')">
                                Xin chào, <a href="/employ"><span sec:authentication="name"></span></a>
                         </div>
                        </span>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="d-flex align-items-center">
                            <button class="btn btn-outline-dark" type="submit">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-dark" href="/login">Login</a>
                    </li>
                </ul>
            </div><!-- End .header-right -->


        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img th:src="@{~/user/images/demos/demo-4/logo.png}" alt="Molla Logo" width="105" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="/" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form autocomplete="off" action="/" method="get">
                        <div class="header-search-wrapper search-wrapper-wide">
                            <label for="keyword" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="keyword" id="keyword" placeholder="Search product ..." aria-label="Search">
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
            </div>

            <div class="header-right">
                <div class="dropdown compare-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                        <div class="icon">
                            <i class="icon-random"></i>
                        </div>
                        <p>Compare</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <!--                        <ul class="compare-products">-->
                        <!--                            <li class="compare-product">-->
                        <!--                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>-->
                        <!--                                <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a></h4>-->
                        <!--                            </li>-->
                        <!--                            <li class="compare-product">-->
                        <!--                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>-->
                        <!--                                <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a></h4>-->
                        <!--                            </li>-->
                        <!--                        </ul>-->

                        <div class="compare-actions">
                            <a href="#" class="action-link">Clear All</a>
                            <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
                        </div>
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .compare-dropdown -->

                <div class="wishlist">
                    <a href="#" title="Wishlist">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <!--                            <span class="wishlist-count badge">3</span>-->
                        </div>
                        <p>Wishlist</p>
                    </a>
                </div><!-- End .compare-dropdown -->

                <div class="dropdown cart-dropdown">
                    <a href="/cart" class="cart-link" role="button">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <!--                            <span class="cart-count"></span>-->
                        </div>
                        <p>Cart</p>
                    </a>

                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories <i class="icon-angle-down"></i>
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                <li class="item-lead"><a href="#">Daily offers</a></li>
                                <li class="item-lead"><a href="#">Gift Ideas</a></li>
                                <li><a href="#">Beds</a></li>
                                <li><a href="#">Lighting</a></li>
                                <li><a href="#">Sofas & Sleeper sofas</a></li>
                                <li><a href="#">Storage</a></li>
                                <li><a href="#">Armchairs & Chaises</a></li>
                                <li><a href="#">Decoration </a></li>
                                <li><a href="#">Kitchen Cabinets</a></li>
                                <li><a href="#">Coffee & Tables</a></li>
                                <li><a href="#">Outdoor Furniture </a></li>
                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="sf-with-ul">Home</a>

                        </li>
<!--                        <li>-->
<!--                            <a href="category.html" class="sf-with-ul">Shop</a>-->

<!--                        </li>-->
                        <li>
                            <a href="/all-product" class="sf-with-ul">Product</a>

                        </li>
                        <li>
                            <a href="/contact" class="sf-with-ul">Contact</a>


                        </li>
                        <li>
                            <a href="blog.html" class="sf-with-ul">Blog</a>
                            
                        </li>
                        
<!--                        <li>-->
<!--                            <a href="elements-list.html" class="sf-with-ul">Elements</a>-->


<!--                        </li>-->
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            <div class="header-right">
                <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const cartIcon = document.querySelector('.cart-link');

        cartIcon.addEventListener('click', (event) => {
            // Không ngăn chặn sự kiện mặc định
            console.log('Cart icon clicked');
        });

        // Cập nhật số lượng sản phẩm trong giỏ hàng
        updateCartCount();

        async function updateCartCount() {
            try {
                const response = await fetch('/cart/count');
                const count = await response.json();
                document.querySelector('.cart-count').textContent = count;
            } catch (error) {
                console.error('Error fetching cart count:', error);
            }
        }
    });


</script>