<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="layout/head :: head"> </head>

<body>
<div class="page-wrapper">
    <header th:replace="layout/header :: header">

    </header>
    <style>
        .product {
      width: 300px; /* Chiều rộng của khung sản phẩm */
      height: auto; /* Chiều cao tự động điều chỉnh theo nội dung */
      /* Các thuộc tính khác */
  }

  .product-image {
      width: 100px;
      height: auto;
      aspect-ratio: 1; /* Tỉ lệ mặt cắt 1:1, có thể thay đổi tùy theo kích thước mong muốn */
      object-fit: cover; /* Đảm bảo ảnh lấp đầy khung hình */
      /* Các thuộc tính khác */
  }

    </style>
    <main class="main">
        <div class="intro-slider-container mb-5">
            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl"
                 data-owl-options='{
                        "dots": true,
                        "nav": false,
                        "responsive": {
                            "1200": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>
                <div class="intro-slide" style="background-image: url(user/images/demos/demo-4/slider/slide-1.png);">
                    <div class="container intro-content">
                        <div class="row justify-content-end">
                            <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                <h3 class="intro-subtitle text-third">Deals and Promotions</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">Beats by</h1>
                                <h1 class="intro-title">Dre Studio 3</h1><!-- End .intro-title -->

                                <div class="intro-price">
                                    <sup class="intro-old-price">$349,95</sup>
                                    <span class="text-third">
                                            $279<sup>.99</sup>
                                        </span>
                                </div><!-- End .intro-price -->

                                <a href="category.html" class="btn btn-primary btn-round">
                                    <span>Shop More</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-11 offset-lg-1 -->
                        </div><!-- End .row -->
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->

                <div class="intro-slide" style="background-image: url(user/images/demos/demo-4/slider/slide-2.png);">
                    <div class="container intro-content">
                        <div class="row justify-content-end">
                            <div class="col-auto col-sm-7 col-md-6 col-lg-5">
                                <h3 class="intro-subtitle text-primary">New Arrival</h3><!-- End .h3 intro-subtitle -->
                                <h1 class="intro-title">Apple iPad Pro <br>12.9 Inch, 64GB </h1><!-- End .intro-title -->

                                <div class="intro-price">
                                    <sup>Today:</sup>
                                    <span class="text-primary">
                                            $999<sup>.99</sup>
                                        </span>
                                </div><!-- End .intro-price -->

                                <a href="category.html" class="btn btn-primary btn-round">
                                    <span>Shop More</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-md-6 offset-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .intro-content -->
                </div><!-- End .intro-slide -->
            </div><!-- End .intro-slider owl-carousel owl-simple -->

            <span class="slider-loader"></span><!-- End .slider-loader -->
        </div><!-- End .intro-slider-container -->

        <div class="container">
            <h2 class="title text-center mb-4">Explore Popular Categories</h2><!-- End .title text-center -->

            <div class="cat-blocks-container">
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="category.html" class="cat-block">
                            <figure>
                                    <span>
                                        <img th:src="@{user/images/categoryimg/cpu.jpg}" alt="Category image">
                                    </span>
                            </figure>

                            <h3 class="cat-block-title">CPU</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="category.html" class="cat-block">
                            <figure>
                                    <span>
                                        <img th:src="@{user/images/categoryimg/mainboard.jpg}" alt="Category image">
                                    </span>
                            </figure>

                            <h3 class="cat-block-title">Main board</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="category.html" class="cat-block">
                            <figure>
                                    <span>
                                        <img th:src="@{user/images/categoryimg/ram.jpg}" alt="Category image">
                                    </span>
                            </figure>

                            <h3 class="cat-block-title">Ram</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="category.html" class="cat-block">
                            <figure>
                                    <span>
                                        <img th:src="@{user/images/categoryimg/ssd.jpg}" alt="Category image">
                                    </span>
                            </figure>

                            <h3 class="cat-block-title">SSD</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="category.html" class="cat-block">
                            <figure>
                                    <span>
                                        <img th:src="@{user/images/categoryimg/vga.jpg}" alt="Category image">
                                    </span>
                            </figure>

                            <h3 class="cat-block-title">VGA</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a href="category.html" class="cat-block">
                            <figure>
                                    <span>
                                        <img th:src="@{user/images/categoryimg/vocase.jpg}" alt="Category image">
                                    </span>
                            </figure>

                            <h3 class="cat-block-title">Vỏ Case</h3><!-- End .cat-block-title -->
                        </a>
                    </div><!-- End .col-sm-4 col-lg-2 -->
                </div><!-- End .row -->
            </div><!-- End .cat-blocks-container -->
        </div><!-- End .container -->

        <div class="mb-4"></div><!-- End .mb-4 -->

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay banner-overlay-light">
                        <a href="#">
                            <img th:src="@{user/images/demos/demo-4/banners/banner-1.png}" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle"><a href="#">Smart Offer</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#">Save $150 <strong>on Samsung <br>Galaxy Note9</strong></a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay banner-overlay-light">
                        <a href="#">
                            <img th:src="@{user/images/demos/demo-4/banners/banner-2.jpg}" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle"><a href="#">Time Deals</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#"><strong>Bose SoundSport</strong> <br>Time Deal -30%</a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-md-4 -->

                <div class="col-md-6 col-lg-4">
                    <div class="banner banner-overlay banner-overlay-light">
                        <a href="#">
                            <img th:src="@{user/images/demos/demo-4/banners/banner-3.png}" alt="Banner">
                        </a>

                        <div class="banner-content">
                            <h4 class="banner-subtitle"><a href="#">Clearance</a></h4><!-- End .banner-subtitle -->
                            <h3 class="banner-title"><a href="#"><strong>GoPro - Fusion 360</strong> <br>Save $70</a></h3><!-- End .banner-title -->
                            <a href="#" class="banner-link">Shop Now<i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .banner-content -->
                    </div><!-- End .banner -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-3"></div><!-- End .mb-5 -->

        <div class="container new-arrivals">
            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">New Arrivals</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="new-all-link" data-toggle="tab" href="#new-all-tab" role="tab" aria-controls="new-all-tab" aria-selected="true">All</a>
                        </li>
                    </ul>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="tab-content tab-content-carousel just-action-icons-sm">
                <div class="tab-pane p-0 fade show active" id="new-all-tab" role="tabpanel" aria-labelledby="new-all-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                        <div th:each="product : ${products}">
                            <div class="product product-2">
                                <figure class="product-media">
                                    <span class="product-label label-circle label-top">New</span>
                                    <a th:href="@{/admin/products/detail/{id}(id=${product.id})}">
                                        <img th:src="${product.mainImage}" alt="Product image" class="product-image">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="/cart/add" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        <a  class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div>

                                </figure>
                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#" th:text="${product.category.name}"></a>
                                    </div>
                                    <a th:href="@{/admin/products/detail/{id}(id=${product.id})}">
                                        <h5 class="card-title" th:text="${product.name}" >Product Name</h5>
                                    </a>
                                    <div class="product-price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">

                                    </div>
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div>
                                        </div>
                                        <span class="ratings-text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container -->

        <div class="container">
            <div class="cta cta-border mb-5" style="background-image: url(user/images/demos/demo-4/bg-1.jpg);">
                <img th:src="@{user/images/demos/demo-4/camera.png}" alt="camera" class="cta-img">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="cta-content">
                            <div class="cta-text text-right text-white">
                                <p>Shop Today’s Deals <br><strong>Awesome Made Easy. HERO7 Black</strong></p>
                            </div><!-- End .cta-text -->
                            <a href="#" class="btn btn-primary btn-round"><span>Shop Now - $429.99</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .cta-content -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .cta -->
        </div><!-- End .container -->




        <div class="mb-5"></div><!-- End .mb-5 -->

<!--        <div class="container for-you">-->
<!--            <div class="heading heading-flex mb-3">-->
<!--                <div class="heading-left">-->
<!--                    <h2 class="title">Recommendation For You</h2>&lt;!&ndash; End .title &ndash;&gt;-->
<!--                </div>&lt;!&ndash; End .heading-left &ndash;&gt;-->

<!--                <div class="heading-right">-->
<!--                    <a href="#" class="title-link">View All Recommendadion <i class="icon-long-arrow-right"></i></a>-->
<!--                </div>&lt;!&ndash; End .heading-right &ndash;&gt;-->
<!--            </div>&lt;!&ndash; End .heading &ndash;&gt;-->

<!--            <div class="products">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col-6 col-md-4 col-lg-3">-->
<!--                        <div class="product product-2">-->
<!--                            <figure class="product-media">-->
<!--                                <span class="product-label label-circle label-sale">Sale</span>-->
<!--                                <a href="product.html">-->
<!--                                    <img th:src="@{user/images/demos/demo-4/products/product-10.jpg}" alt="Product image" class="product-image">-->
<!--                                </a>-->

<!--                                <div class="product-action-vertical">-->
<!--                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>-->
<!--                                </div>&lt;!&ndash; End .product-action &ndash;&gt;-->

<!--                                <div class="product-action">-->
<!--                                    <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>-->
<!--                                    <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>-->
<!--                                </div>&lt;!&ndash; End .product-action &ndash;&gt;-->
<!--                            </figure>&lt;!&ndash; End .product-media &ndash;&gt;-->

<!--                            <div class="product-body">-->
<!--                                <div class="product-cat">-->
<!--                                    <a href="#">Headphones</a>-->
<!--                                </div>&lt;!&ndash; End .product-cat &ndash;&gt;-->
<!--                                <h3 class="product-title"><a href="product.html">Beats by Dr. Dre Wireless  Headphones</a></h3>&lt;!&ndash; End .product-title &ndash;&gt;-->
<!--                                <div class="product-price">-->
<!--                                    <span class="new-price">$279.99</span>-->
<!--                                    <span class="old-price">Was $349.99</span>-->
<!--                                </div>&lt;!&ndash; End .product-price &ndash;&gt;-->
<!--                                <div class="ratings-container">-->
<!--                                    <div class="ratings">-->
<!--                                        <div class="ratings-val" style="width: 40%;"></div>&lt;!&ndash; End .ratings-val &ndash;&gt;-->
<!--                                    </div>&lt;!&ndash; End .ratings &ndash;&gt;-->
<!--                                    <span class="ratings-text"></span>-->
<!--                                </div>&lt;!&ndash; End .rating-container &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; End .product-body &ndash;&gt;-->
<!--                        </div>&lt;!&ndash; End .product &ndash;&gt;-->
<!--                    </div>&lt;!&ndash; End .col-sm-6 col-md-4 col-lg-3 &ndash;&gt;-->
<!--                </div>&lt;!&ndash; End .row &ndash;&gt;-->
<!--            </div>&lt;!&ndash; End .products &ndash;&gt;-->
            <div class="container for-you">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">Recommendation For You</h2>
                    </div>

                    <div class="heading-right">
                        <a href="#" class="title-link">View All Recommendations <i class="icon-long-arrow-right"></i></a>
                    </div>
                </div>

                <div class="products">
                    <div class="row">
                        <div th:each="product : ${products}" class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="product product-2 ">
                                <figure class="product-media">
                                    <span class="product-label label-circle label-sale" >Sale</span>
                                    <a th:href="@{/admin/products/detail/{id}(id=${product.id})}">
                                        <img th:src="${product.mainImage}" alt="Product image" class="image img-fluid" style="width: 300px; height: 300px; object-fit: cover;">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist"></a>
                                    </div>
                                    <div class="product-action">
                                        <a href="#" class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                        <a href="popup/quickView.html" class="btn-product btn-quickview" title="Quick view"><span>quick view</span></a>
                                    </div>
                                </figure>

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#" th:text="${product.category.name}"></a>
                                    </div>
                                    <a th:href="@{/admin/products/detail/{id}(id=${product.id})}">
                                        <h5 class="card-title" th:text="${product.name}" >Product Name</h5>
                                    </a>
                                    <div class="product-price" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}">

                                    </div>
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 100%;"></div>
                                        </div>
                                        <span class="ratings-text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!--        </div>&lt;!&ndash; End .container &ndash;&gt;-->

        <div class="mb-4"></div><!-- End .mb-4 -->

        <div class="container">
            <hr class="mb-0">
        </div><!-- End .container -->

        <div class="icon-boxes-container bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>Orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rotate-left"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>Within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-info-circle"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>when you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-life-ring"></i>
                                </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->
    </main><!-- End .main -->

    <header th:replace="layout/footer :: footer"> </header>
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="/" method="get" class="mobile-search">
            <label for="keyword" class="sr-only">Search</label>
            <input type="search" class="form-control" name="keyword" id="keyword" placeholder="Search product..." aria-label="Search">
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li class="active">
                            <a href="index.html">Home</a>
                        </li>

                        <li>
                            <a href="product.html" class="sf-with-ul">Product</a>

                        </li>
                        <li>
                            <a href="#">Pages</a>
                            <ul>
                                <li>
                                    <a href="about.html">About</a>

                                    <ul>
                                        <li><a href="about.html">About 01</a></li>
                                        <li><a href="about-2.html">About 02</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>

                                    <ul>
                                        <li><a href="contact.html">Contact 01</a></li>
                                        <li><a href="contact-2.html">Contact 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Masonry</a>
                                    <ul>
                                        <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                        <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                        <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                        <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Mask</a>
                                    <ul>
                                        <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                        <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Single Post</a>
                                    <ul>
                                        <li><a href="single.html">Default with sidebar</a></li>
                                        <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                        <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="elements-list.html">Elements</a>

                        </li>
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                <nav class="mobile-cats-nav">
                    <ul class="mobile-cats-menu">
                        <li><a class="mobile-cats-lead" href="#">Daily offers</a></li>
                        <li><a class="mobile-cats-lead" href="#">Gift Ideas</a></li>
                        <li><a href="#">Beds</a></li>
                        <li><a href="#">Lighting</a></li>
                        <li><a href="#">Sofas & Sleeper sofas</a></li>
                        <li><a href="#">Storage</a></li>
                        <li><a href="#">Armchairs & Chaises</a></li>
                        <li><a href="#">Decoration </a></li>
                        <li><a href="#">Kitchen Cabinets</a></li>
                        <li><a href="#">Coffee & Tables</a></li>
                        <li><a href="#">Outdoor Furniture </a></li>
                    </ul><!-- End .mobile-cats-menu -->
                </nav><!-- End .mobile-cats-nav -->
            </div><!-- .End .tab-pane -->
        </div><!-- End .tab-content -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->


<!-- Plugins JS File -->
<script th:src="@{user/js/jquery.min.js}"></script>
<script th:src="@{user/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{user/js/jquery.hoverIntent.min.js}"></script>
<script th:src="@{user/js/jquery.waypoints.min.js}"></script>
<script th:src="@{user/js/superfish.min.js}"></script>
<script th:src="@{user/js/owl.carousel.min.js}"></script>
<script th:src="@{user/js/bootstrap-input-spinner.js}"></script>
<script th:src="@{user/js/jquery.plugin.min.js}"></script>
<script th:src="@{user/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{user/js/jquery.countdown.min.js}"></script>
<!-- Main JS File -->
<script th:src="@{user/js/main.js}"></script>
<script th:src="@{user/js/demos/demo-4.js}"></script>
</body>


}</html>



<script>
    function addToCart(productId) {
        // Sử dụng fetch hoặc XMLHttpRequest để gửi yêu cầu POST đến endpoint /cart/add
        fetch('/cart/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId: productId }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Xử lý phản hồi ở đây nếu cần
            console.log('Added to cart successfully');
        })
        .catch(error => {
            console.error('Error adding to cart:', error);
        });
    }
</script>